.about-container {
    width: 100%;
    min-height: 90vh;
    justify-content: space-around;
    align-content: center;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: center;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    background-color: white;
}

.about-heading {
    margin-top: 5vh;
    font-size: 3.5rem;
}

.about-text {
    margin-bottom: 5vh;
}

.origin-row{
    align-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.founder-image {
    width: 100%;
    height: 40vh;
    object-fit: contain;
}

@media (max-width: 720px) {
    .origin-row{
        padding: 0;
        margin-bottom: 5vh;
    }
}