.browse-container {
    min-height: 82.5vh;
    background-color: white;
    padding-top: 7.5vh;
    padding-bottom: 7.5vh;
    padding-left: 2.5vw;
    padding-right: 2.5vw;
    width: 100%;
}

#result-title {
    margin-bottom: 5vh;
}

.browse-heading {
    margin-bottom: 2.5vh;
}

.browse-view-all {
    font-size: 1rem;
    color: blue;
}

.browse-link-card-row {
    width: 100%;
    max-height: 30vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    column-gap: 1%;
    row-gap: 5%;
}

.browse-link-card-grid {
    width: 100%;
    min-height: 30vh;
    margin-bottom: 5vh;
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    column-gap: 1%;
    row-gap: 5%;
}

/* ======================================== */

.browse-view-all:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* ======================================== */

@media (max-width: 768px) {
    .browse-link-card-row {
        grid-template: none;
        max-height: 20vh;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 35vw;
        column-gap: 1vw;
        width: 100%;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .browse-link-card-grid {
        width: 100%;
        min-height: 30vh;
        margin-bottom: 5vh;
        display: grid;
        grid-template-columns: 100%;
        column-gap: 0%;
        row-gap: 5%;
    }
}

@media (max-width: 576px) {
}