.contribute-container {
    width: 100%;
    min-height: 90vh;
    align-content: center;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
}

.tab-button-row {
    width: 100%;
    height: fit-content;
    --bs-gutter-x: 0;
    align-content: center;
}

#contribution-nav-container {
    width: 65%;
    margin-left: 17.5%;
    margin-right: 17.5%;
    align-self: center;
}

.nav-item {
    text-align: center;
}

.tab-content-display {
    margin-top: 5vh;
    min-height: 60vh;
    --bs-gutter-x: 0;
    align-content: center;
}