.graveyard-container {
    min-height: 90vh;
    width: 100%;
    padding-top: 5vh;
    padding-left: 5vw;
    padding-right: 5vw;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    background-color: white;
}

.graveyard-grid {
    min-height: 25vh;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 1%;
    row-gap: 2%;
}

@media (max-width: 950px) {
    .graveyard-grid {
        grid-template-columns: 49% 49%;
        grid-auto-rows: 12vh;
        column-gap: 1%;
        row-gap: 2%;
    }
}

@media (max-width: 450px) {
    .graveyard-grid {
        grid-template-columns: 100%;
        grid-template-rows: max-content;
        grid-auto-rows: 12vh;
        row-gap: 2%;
    }
}