.user-containers {
    width: 100%;
    min-height: 90vh;
    padding-top: 5vh;
    padding-bottom: 7.5vh;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
}

.user-title {
    margin-bottom: 2.5vh;
    margin-left: 1vw;
}

.user-grave-card-container {
    display: grid;
    gap: 0.5vh;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
    grid-auto-rows: 12.5vh;
}

.user-grave-info-container {
    display: grid;
    gap: 0.5vh;
    height: 75vh;
    overflow-x: hidden;
    overflow-y: scroll;
}

.user-grave-image-container {
    width: 100%;
    height: 40vh;
    border-style: solid;
    border-width: 0.0625rem;
}

.user-grave-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .user-grave-card-container {
        grid-template: none;
        display: grid;
        grid-auto-flow: column;
        gap: 0.5vh;
        height: 0vh;
        min-height: 15vh;
        grid-auto-columns: 45vw;
        overflow-x: scroll;
        overflow-y: hidden;
    }
}