.User-Edit-Container {
    min-height: 90vh;
    width: 100%;
    align-content: space-around;
    justify-items: center;
}

.User-Edit-Panel {
    width: 40%;
    min-height: 65vh;
    background-color: white;
    box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.57);
    align-content: space-evenly;
    justify-content: center;
    padding: 3%;
}

.change-category-button {
    width: 100%;
    height: 8vh;
    padding-left: 5%;
    padding-top: 2vh;
    padding-right: 10%;
    align-content: center;
    justify-content: center;
}

.change-category-button:hover {
    background-color: #cfcfcf;
    cursor: pointer;
}
 
.change-category-name {
    float: left;
}

.change-category-arrow {
    float: right;
}

@media (max-width: 576px) {
    .User-Edit-Panel {
        width: 100%;
        min-height: 65vh;
    }
}