.grave-comment-form {
    margin-bottom: 2.5vh;
}

.grave-comment-text-input {
    border-width: 0px;
    border-radius: 0%;
    border-color: rgb(121, 121, 121);
    border-style: solid;
    border-bottom-width: 0.0625rem;
}

.comment-button {
    border-radius: 0%;
}

.grave-comment-container {
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 2.5vh;
}

.grave-no-comments {
    text-align: center;
}