.grave-info-panel {
    width: 100%;
    height: 10vh;
    border-width: 0.0625rem;
    border-style: solid;
    border-radius: 1rem;
    padding: 1.25rem;
}

.grave-info-heading {
    font-weight: 600;
}