.contribution-input-typeahead {
    margin-bottom: 2.5vh;
}

@media (max-width: 768px) {
    .grave-contribute-form {
        margin-bottom: 5vh;
    }

    .grave-contribute-input-col {
        margin-top: 2.5vh;
    }
}