.navbar-container {
    height: 10vh;
    width: 100%;
    background-color: rgb(73, 23, 17);
    box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.58);
    padding-right: 2.5%;
}

.navbar-focus-searchbar-container {
    width: 100%;
    height: 100%;
    align-content: center;
}

.navbar-mobile-back-button {
    float: left;
    color: white;
    text-align: center;
    height: 100%;
    width: 10vh;
    align-content: center;
}

.navbar-mobile-searchbar {
    float: right;
    border-radius: 0%;
    height:3.5vh;
    margin-top: 3.25vh;
}

.navbar-offcanvas-button {
    float: left;
    height: 100%;
    width: fit-content;
    padding-left: 1vw;
    padding-right: 1vw;
    margin-right: 1%;
    color: white;
    align-content: center;
    text-align: center;
}

.navbar-offcanvas-button:hover {
    cursor: pointer;
    background-color: rgb(60, 17, 12);
}

.navbar-logo-container {
    height: 100%;
    width: fit-content;
    float: left;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin-right: 2.5%;
}

.navbar-logo {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    object-fit: contain;
}

.nav-buttons {
    float: left;
    align-content:space-around;
    height: 100%;
    min-width: 35%;
    text-align: left;
}

.navbar-link {
    text-decoration: none;
    margin-right: 2.5vw;
    color: white;
}

.navbar-searchbar-container {
    float: left;
    align-content:space-around;
    height: 100%;
    width: fit-content;
}

.navbar-mobile-searchbar {
    width: 75vw;
    
}

.navbar-searchbar-button {
    height: 100%;
    width: 10vh;
    align-content: center;
    text-align: center;
    color: white;
}

.navbar-searchbar {
    width: 20vw;
    border-radius: 0px;
}

#login-button-container {
    align-content:space-evenly;
    height: 100%;
    float: right;
}

.navbar-offcanvas {
    background-color: rgb(73, 23, 17);
    color: white;
}

.offcanvas-logo-container {
    height: 10vh;
    width: fit-content;
    float: left;
    margin-right: 2.5%;
}

.offcanvas-link-container {
    width: 100%;
    height: 5vh;
    padding-left: 5%;
    align-content: center;
}

.offcanvas-link-container:hover {
    background-color: rgb(60, 17, 12);
    cursor: pointer;
}

.offcanvas-link {
    width: 100%;
    height: fit-content;
    text-decoration: none;
    margin-right: 2.5vw;
    color: white;
}

.btn-close {
    border-radius: 0%;
    padding-right: 2vw;
    background-color: white;
}

.offcanvas-header .btn-close {
    margin-right: 0.125vw;
}

@media (max-width: 1024px) {
    
}

@media (max-width: 720px) {
    .navbar-container {
        height: 7.5vh;
    }

    .navbar-focus-searchbar-container {
        align-content: center;
        justify-content: center;
        display: flex;
    }

    .navbar-logo-container {
        height: 100%;
        width: fit-content;
        float: left;
        padding-top: 0.9vh;
        padding-bottom: 0.9vh;
        margin-right: 2.5%;
    }

    .navbar-mobile-searchbar {
        margin: 0;
        align-self: center;
    }

    #login-button-container {
        display: none;
    }

    .navbar-searchbar-container {
        float: right;
    }
}

@media (max-width: 576px) {
    
}