.navbar-container {
    height: 10vh;
    width: 100%;
    background-color: rgb(73, 23, 17);
    box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.58);
    -webkit-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.58);
    -moz-box-shadow: 0px 0px 25px 8px rgba(0,0,0,0.58);
}

.nav-buttons {
    float: left;
    align-content:space-around;
    height: 100%;
    width: 35%;
    text-align: center;
}

.navbar-link {
    text-decoration: none;
    margin-left: 3%;
    margin-right: 3%;
    color: white;
}

.navbar-searchbar-container {
    float: left;
    align-content:space-around;
    height: 100%;
    width: 20%;
}

#login-button-container {
    align-content:space-evenly;
    height: 100%;
    float: right;
    margin-right: 5%;
}